// This configuration is not published, but shows how to configure your own builds using the same tooling from ci.
(
    dim: "3",
    // No features so we are building without serialization, debug render, simd...
    feature_set:[],
    target_dir: "../rapier3d_minimal/",
    template_dir: "./templates/",
    additional_rust_flags: "",
    additional_wasm_opt_flags: [],
    js_package_name: "rapier3d-minimal"
)